.wrapper {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100vw;
    height: 100vh;
    background: rgba(131, 151, 172, .88);
    z-index: 999;
    display: flex;
    justify-content: center;
}

.gallery {

    height: 50%;
    width: 50%;
    align-self: center;
    background: rgba(255,255,255,0.6);
}

.close-button {
    position: absolute;
    top: 19%;
    right: 22%;
    cursor: pointer;
    z-index: 9999;
}