.wrapper {
    display: flex;
    flex-direction: column;
}

.card-panel {
    margin-bottom: 16px;
    width: 85.8%;
    align-self: center;
}

@media only screen and (min-width : 768px) {

    .card-panel {
        width: unset;
    }

}