.wrapper {
    display: flex;
    flex-direction: column;
}

.card-panel {
    margin-bottom: 60px;
    width: 85.8%;
    align-self: center; 
    height: 443px; 
    transition: all 0.3s ease-in-out;  
}

.hidden {

    height: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 0;

}

.spinner-box{
    width: 30px;
    height: 30px;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 83px;
}

.spinner {
    height: 100%;
}

@media only screen and (min-width : 768px) {

    .card-panel {
        height: 304px; 
        width: unset;
    }

    .expand {
        height: 500px;
    }
    
    .hidden {
        height: 0px;
        padding: 0px;
        margin: 0px;
        z-index: 0;
    }
}