<div class='wrapper' infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="loadMoreData()">
    <div *ngFor='let item of items' class='card-panel' [ngClass]='{hidden: isHidden(item), expand: !collapseAll && item["expand"]}'>
        <card #element *ngIf='!isHidden(item)' class='card' [data]='item' [allowLike]='allowLike' (expand)='collapseAll=false; item["expand"]=$event' (like)='like.emit(item)' (dislike)='dislike.emit(item)'></card>
    </div>
</div>

<div *ngIf='loading' class="spinner"></div>