<div *ngIf='true' class='wrapper'>  
    <control-panel #controlPanel class='control-panel' 
        [loading]='loading' 
        [userProfileData]='userProfileData' 
        [globalViewMode]='globalViewMode' 
        [haveResults]='showHaveResults' 
        [showAvatar]='showAvatar'
        [minimize]='minimizeControlPanel' 
        [viewMode]='resultsViewMode' 
        (showResults)='displayResults()' 
        (loginRequest)='loginWithFacebook()'
        (logoutRequest)='logout()' 
        (showUserSettingsDropDown)='userProfileData ? bot.state("userSettings") : bot.state("suggestLogin")' 
        (viewModeChange)='setViewMode($event)' 
        (reset)='reset()' 
        [ngClass]='{minimized: minimizeControlPanel}'>
    </control-panel>
    <wizard *ngIf='showWizard' class='wizard' [loading]='loadingWizard' (done)='processResults($event)'></wizard>
    <results-view #results class='results-view' *ngIf='showResults' (addToFavorites)='controlPanel.notifyAddedToFavorites()' (botState)='bot.state($event.state, $event.data)' (userProfileDataChanged)='userProfileData = $event' [@divState]></results-view>
    <user-settings *ngIf='resultsViewMode == "user"' class='user-settigns' [ngClass]='{"user-settings-visible": showUserSettings}' [userProfileData]='userProfileData' (logout)='logout()' (newSearch)='newSearch()'></user-settings>
    <div class='is-hidden' [ngClass]='{visible: minimizeControlPanel}'>
        <bot #bot class='bot static' (request)='processBotRequest($event); results.execute($event)' (showMe)='lockBot=true' (hideMe)='lockBot=false' [ngClass]='{"slide-bot-on-mobile": showBot}'></bot>
        <!--filters class='filters show-fast' [parameters]='parameters' [ngClass]='{"hide-fast": resultsViewMode!="results"}' (setFilter)='bot.state("setFilter",$event)'></filters-->
    </div>
</div> 

<!--div *ngIf='loading' class='lock-screen otoboto-blue'>
    <img class='logo' [src]='"../../../assets/otoboto-avatar.svg"'/>
    <div class='spinner-box'>
        <div class='spinner'></div>
    </div>
</div--> 