$top-panel-height-desktop: 17vh;
$top-panel-height-mobile: 17vh;

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.wizard {
    margin-top: 42vh;
    padding-top: 0px;  
    overflow: hidden;
}

.control-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    height: 42vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;    
    z-index: 100;
    transition: all 1s ease-in-out;
}

.results-view {
    margin-top: $top-panel-height-mobile;
    padding-top: 72px;
}

.minimized {
    height: $top-panel-height-mobile;
    top: -100px;
}

.static {
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

@media only screen and (min-width : 768px) {

    .wizard { 
        margin-top: 42vh;
        padding-top: 69px; 
    }  

    .results-view {
        margin-top: $top-panel-height-desktop;
        padding-top: 137px;
    }

    .minimized {
        height: $top-panel-height-desktop;
        top: unset;
    }

    .figure {
        z-index: 999;
        position: fixed;
        width: 202px;
        left: 0;
        right: 1000px;
        margin-right: auto;
        margin-left: auto;
        bottom: 26px;

    }

    .is-hidden {
        opacity: 0;
        transition: opacity 1s ease-in-out 1s;
    }

    .visible {
        opacity: 1;
        
    }

    .show-fast {
        opacity: 1;
        transition: opacity 0.3s ease-in-out 0s;        
    }

    .hide-fast {
        opacity: 0;
        transition: opacity 0.3s ease-in-out 0s;
    }

    .hidden {
        display: unset;
    }

    .user-settigns {
        align-self: center;
    }

}

