<div *ngIf='true' class='wrapper'>  
    <control-panel class='control-panel' [loading]='loading' [userProfileData]='userProfileData' [minimize]='minimizeControlPanel' [viewMode]='resultsViewMode' (loginRequest)='loginWithFacebook(wizardResults)' (viewModeChange)='setViewMode($event)' (reset)='reset()' [ngClass]='{minimized: minimizeControlPanel}'></control-panel>
    <wizard *ngIf='showWizard' class='wizard' (done)='processResults($event)'></wizard>
    <results-view #results class='results-view' *ngIf='showResults' (botState)='bot.state($event.state, $event.data)' [@divState]></results-view>
    <user-settings class='user-settigns' *ngIf='resultsViewMode=="user"' [userProfileData]='userProfileData' (logout)='logout()'></user-settings>
    <div class='is-hidden' [ngClass]='{visible: minimizeControlPanel}'>
        <bot #bot class='bot static' (request)='results.execute($event)' (showMe)='lockBot=true' (hideMe)='lockBot=false' [ngClass]='{floating: showBot && lockBot, hidden: hideBot}'></bot>
        <filters class='filters show-fast' [parameters]='parameters' [ngClass]='{"hide-fast": resultsViewMode!="results"}' (setFilter)='bot.state("setFilter",$event)'></filters>
    </div>
</div> 

<!--div *ngIf='loading' class='lock-screen otoboto-blue'>
    <img class='logo' [src]='"../../../assets/otoboto-avatar.svg"'/>
    <div class='spinner-box'>
        <div class='spinner'></div>
    </div>
</div--> 