.list {
    display: flex;
    flex-direction: column;
    width: 1160px;
}

.card {

    background: #fff;
    margin: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);  

}

.card:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.20), 0 5px 5px rgba(0,0,0,0.18);
}

.item {
    transition: all 0.6s ease;
    height: 300px; 
    margin-bottom: 20px;
}

.hidden-item {
    height: 0px; 
    padding: 0;
    margin: 0; 
    opacity: 0;
    z-index: -1;
}

.expended {
    height: 800px;
    transition: all 0.6s ease;
}