
.wrapper {
    display: flex;
    flex-direction: column;
}

.gallery-panel {
    position: relative;
    height: 204.5px; 
}

.card-body {
    box-sizing: border-box;
}

.price-box {
    justify-content: center;
    position: absolute;
    width: 110px;
    height: 28.5px;    
    top: 10.5px;
    left: 0;
    z-index: 1;
    border-radius: 0 3px 3px 0;
    text-align: center;
    line-height: 28.5px;    
}

.date-box {
    position: absolute;
    top: -19px;
    right: 0;
    z-index: 1;
}

.actions-desktop {
    flex-direction: column;
    width: 30px;
    position: absolute;
    top: 20px;
    z-index: 9;
    right: 20px;    
    justify-content: space-between;
    height: 61px;
}

.info-card {
    margin-top: 47.5px;
    padding-right: 24.5px;
    padding-left: 24.5px;    
}

.actions-mobile {
    justify-content: space-between;
    height: 72.5px;
    padding-left: 22px;
    padding-right: 22px;
}

.action-box {
    height: 28.5px;
    width: 28.5px;
    cursor: pointer;
    align-self: center;
}

.contact-box {
    display: flex;
    justify-content: center;
    width: 156px;
    height: 30.5px;
    border: 2px solid #14C6C6;
    border-radius: 6px; 
    align-self: center;
    line-height: 30.5px;
}

a {
    text-decoration: none; 
    color: #14C6C6;
    align-self: center;
}

@media only screen and (min-width : 768px) {

    .outer-wrapper {
        width: 645px;
    }

    .wrapper {
        flex-direction: row;
        height: 304px;    
        cursor: pointer;    
    } 

    .gallery-panel {
        width: 47%;
        height: 100%;
    }

    .card-body {
        width: 53%;
        height: 100%;
        z-index: 2;
    }

    .main-details {
        width: 100%;
    }

    .content {
        height: 100%;
        padding-bottom: 21px;
        box-sizing: border-box;
    }

    .info-panel {

        display: flex;
        flex-direction: column;
        height: 200px;
        width: 100%;
        transition: all 0.2s ease-in-out;
        z-index: 1;
        margin-top: -200px;

        .header {
            height: 79px;
            width: 100%;
            box-sizing: border-box;
            border-top: 3px solid #F6F6F6;
            border-bottom: 3px solid #F6F6F6;
            display: flex;
            justify-content: space-around;
        }

        .section-title {
            align-self: center;
            cursor: pointer;
        }

        .content {
            width: 100%;
            display: flex;
            padding-top: 18px;
            height: 123px;
            box-sizing: border-box;
        }

        .info {
            width: 100%;
        }
    }

    .visible {
        margin-top: 0px;
    }

}
