<div class='wrapper'>

   <div class='gallery-panel'>
        <image-gallery class='image-gallery' [images]='data.mobile_pics'></image-gallery>
        <div class='mobile price-box otoboto-blue text-secondary-white'>
            {{data.price | nis}}
        </div>
        <div class='date-box text-small text-weak'>
            <!--{{data.date | timeAgo }}-->
            לפני 20 דקות
        </div>
   </div>
   <div class='card-body otoboto-white'>
        <swiper class='content-swiper' [config]="swiperConfig">
            <div>
                <main-details [data]='data' (like)='like.emit()' (dislike)='dislike.emit()'></main-details>
            </div>   
            <div>
                
             </div>                            
        </swiper>         
   </div>

</div>