.wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
}

.speach-panel {
    z-index: 10 !important;
    background: #0084ff !important;
    color: white;
    border-radius: 20px !important;
    box-shadow: 0 14px 36px 2px rgba(0, 0, 0, 0.15) !important;
    padding: 24px !important;
    overflow-y: auto !important;
    visibility: visible !important;
    white-space: normal !important;
    display: flex;   
    flex-direction: row; 
    justify-content: space-around; 
    flex-wrap: wrap;  
    font-family: 'Arial';  
}

.options-panel {
  display: flex;
  align-items: center;
  justify-content: space-around;    
  margin-top: 10px;
  flex-wrap: wrap;  
}

.single-button-panel {
    display: flex;
    justify-content: center;
}

