<div class='wrapper'>

    <div class='speach-panel'>
        {{message?.caption}}
    </div>

    <div *ngIf='message?.attachment?.type=="login"' class='single-button-panel'>
        <facebook-login-button (click)='facebookLogin.emit()'></facebook-login-button>       
    </div>    

    <div *ngIf='message?.options' class='options-panel'>
        <button *ngFor='let option of message.options' md-raised-button color="accent" (click)='optionSelected.emit(option)'>
            {{option.title}}
        </button>            
    </div>

    <div *ngIf='message?.input' class='input-panel'>
        <chatbot-input [type]='message.input.type == "simple"' (send)='userInput.emit($event)'></chatbot-input>
    </div>    


</div>