<div class='wrapper'>

    <div *ngIf='userProfileData' class='user-settings-menu'>

        <div class='item' (click)='logout.emit()'>
            <div class='item-icon'>

            </div>
            <div class='item-title'>
                התנתק
            </div>
        </div>

        <div class='item' (click)='reset()'>
            <div class='item-icon'>

            </div>
            <div class='item-title'>
                אפס חשבון
            </div>
        </div>

        <div class='item' (click)='reset()'>
            <div class='item-icon'>

            </div>
            <div class='item-title'>
                חיפוש חדש
            </div>
        </div>

    </div>

    <div class='guest-menu'>
        
    </div>



</div>