<div class='wrapper'>

    <div *ngIf='!isGuest' class='user-settings-menu'>

        <div class='item text-secondary otoboto-frame otoboto-fill-negative disabled' (click)='newSearch.emit()'>
            <div class='item-title'>
                פרסם מודעה
            </div>
        </div>
        
        <div class='item text-secondary otoboto-frame otoboto-fill-negative' (click)='logout.emit()'>
            <div class='item-title'>
                התנתק
            </div>
        </div>

        <!--div class='item text-secondary otoboto-frame otoboto-fill-negative' (click)='reset()'>
            <div class='item-title'>
                אפס חשבון
            </div>
        </div-->

    </div>

</div>