.wrapper {
    display: flex;
    flex-direction: column;
}

.user-settings-menu {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    width: 50%;
    align-self: center;
    width: 126px;
    height: 35px;
    justify-content: center;
    line-height: 35px;
    margin-bottom: 15px;
}

.item-icon {
    display: flex;
    justify-content: center;
    img {
        align-self: center;
        width: 50px;
    }
}

