.wrapper {
    display: none; /* TEMP */
}


@media only screen and (min-width : 768px) {

    .wrapper {
        width: 150px;
        margin-top: 17vh;
        padding-top: 122px;
        position: fixed;
        top: 0;
        left: 846px;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .filter {
        width: 50px;
        margin-bottom: 30px;
        align-self: center;
    }

    .caption {
        text-align: center;
    }

    .allowModify {
        cursor: pointer;
    }

}