input {
    height: 42.5px;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center; 
    font-family: 'Rubik', sans-serif;
    color: #B2B2B2; 
      
}

input::placeholder {
    color: #B2B2B2;  
    text-align: center; 
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

@media only screen and (min-width : 768px) {
    input {
        height: 34.5px;
    }
}