.wrapper {
    display: flex;
}

.icon-box {
    width: 28.5px;
}

.title {
    margin-right: 10px;
    line-height: 32.5px;
}

@media only screen and (min-width : 768px) {
    
    .icon-box { 
        width: 24px;
    }

    .title {
        line-height: 24px;
        font-size: 16px;
    }
        
}