<div class='wrapper'>

    <div class='bubble caption-box text-speach' [ngClass]='{"bubble-show": captionType == "question"}'>
        {{caption}}

        <div *ngIf='images' class='image-box' [style.backgroundImage]="'url('+ images +')'">

        </div>

        <div *ngIf='userResponseType == "singleAction" && operationCode == "login"' class='user-response-panel nerrow'>
            <div class='buttons-panel'>
                <button class='facebook-login-button' (click)='request.emit("login")'>
                    <img class='facebook-login-icon' [src]='"../../assets/facebook.svg"'/>
                    התחבר
                </button>
                <!--button class="loginBtn loginBtn--facebook" (click)='userResponse.emit()'>
                    התחבר
                </button-->
            </div>
        </div>
        <div *ngIf='userResponseType == "yesNoQuestion"' class='yes-no-question-panel'>
            <div class='buttons-panel-double'>
                <button class='response-button text-secondary otoboto-frame otoboto-fill-negative' (click)='userResponse.emit("yes")'>
                    כן
                </button>
                <button class='response-button text-secondary otoboto-frame otoboto-fill-negative' (click)='userResponse.emit("no")'>
                    לא
                </button>
            </div>
        </div>
    </div>

    <div class='desktop-block bubble default-board' [ngClass]='{"bubble-show": captionType == "defaultBoard" && !isMobile}'>
        <div class='filters-section'>
            <filters #filters></filters>
        </div>
        <div class='new-search-section'>
            <button class='new-search-button text-secondary otoboto-frame otoboto-fill-negative' (click)='request.emit("newSearch")'>
                חיפוש חדש
            </button>
        </div>
    </div>
 
    <div *ngIf='captionType == "userSettings"' class='bubble default-board'>
        <user-settings (logout)='request.emit("logout")' (click)='request.emit("newSearch")'></user-settings>
    </div>
     




    <div *ngIf='userResponseType == "city"' class='user-response-panel'>
        <div class='input-panel'>
            <location-selector class='input-selector' [initialValue]='' [submitButton]='false' (value)='city = $event'></location-selector>
            <!--input-box class='input-box'>
                <input type='text' class='text-primary' placeholder="{{placeholder}}"/>
            </input-box-->
        </div>     
    </div>


    
</div>