.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.caption-box {
    width: 180.5px;
    text-align: center;
    align-self: center;
}

.user-response-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 21px;
    width: 180.5px;
    align-self: center;
}

.buttons-panel {
    width: 100%;
    display: flex;
    justify-content: center;
}

.response-button {
    height: 22px;
    width: 73px;
}

@media only screen and (min-width : 768px) {

    .wrapper {

    }

    .caption-box {
        background: white;
        border: 1px solid white;
        border-radius: 22px;
        //height: 136px;
        color: gray;
        font-size: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        box-sizing: border-box;
    }

    .user-response-panel {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .buttons-panel {
            margin-top: 30px;
        }
    }

    .response-button {
        height: 44px;
        width: 146px;
    }

    .input-panel {
        width: inherit;
    }

    input {
        outline: none;
        border: none;
        background-color: transparent;
    }
    
    .input-box {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .default-board {
        background: white;
        border-radius: 8px;
        padding: 24px;
    }

    .new-search-section {
        display: flex;
        justify-content: center;
        button {
            width: 50%;
            height: 35px;
            cursor: pointer;
        }
    }

    .nerrow {
        margin-top: -12px;
    }
}