<div class='wrapper'>

    <div *ngIf='captionType == "question"' class='caption-box text-speach'>
        {{caption}}
        <div *ngIf='userResponseType == "singleAction" && operationCode == "login"' class='user-response-panel nerrow'>
            <div class='buttons-panel'>
                <button class="loginBtn loginBtn--facebook" (click)='userResponse.emit()'>
                    התחבר
                </button>
            </div>
        </div>
    </div>

    <div *ngIf='captionType == "defaultBoard" && !isMobile' class='default-board'>
        <div class='filters-section'>
            <filters></filters>
        </div>
        <div class='new-search-section'>
            <button class='new-search-button text-secondary otoboto-frame otoboto-fill-negative' (click)='request.emit("newSearch")'>
                חיפוש חדש
            </button>
        </div>
    </div>

    <div *ngIf='captionType == "userSettings"' class='default-board'>
        <user-settings (logout)='request.emit("logout")'></user-settings>
    </div>
    
    <div *ngIf='userResponseType == "yesNoQuestion"' class='user-response-panel'>
        <div class='buttons-panel'>
            <button class='response-button text-weak' (click)='userResponse.emit()'>
                כן
            </button>
        </div>
    </div>



    <div *ngIf='userResponseType == "city"' class='user-response-panel'>
        <div class='input-panel'>
            <location-selector class='input-selector' [initialValue]='' [submitButton]='false' (value)='city = $event'></location-selector>
            <!--input-box class='input-box'>
                <input type='text' class='text-primary' placeholder="{{placeholder}}"/>
            </input-box-->
        </div>     
    </div>


    
</div>