<div class='wrapper'>

    <div class='input-inner-desktop'>
        <input-box class='input-box' [icon]='"../../assets/price-icon-color.svg"' (keyup.enter)="value && done.emit(value)">
            <input class='text-primary' placeholder="הכנס מחיר" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [value]="valueToken" [formControl]="valueControler"/>
        </input-box>
    </div>

    <div class='input-inner-mobile'>

        <div class='input-box-panel'>
            <input-box class='input-box' [icon]='"../../assets/price-icon-color.svg"' (click)='openInputPane()'>
                <input class='text-primary' placeholder="הכנס מחיר" [value]="valueToken"/>
            </input-box> 
        </div>   
        
        <input-pane #inputPane (clicked)='inputPane.close()' (keyup.enter)="inputPane.close()">
            <div class='input-box-panel full-size'>
                <input-box class='input-box' (click)='block($event);'>
                    <input #input class='text-primary' type='text' placeholder="הכנס מחיר" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="7" [value]="valueToken" [formControl]="valueControler" autofocus/>
                </input-box>  
            </div>  

            <div class='continue-button-panel input-pane-button'>
                <div class='button button-wizard-next otoboto-blue text-small' (click)='value && done.emit(value);'>
                    המשך
                </div>
            </div>

        </input-pane>

    </div>

    <div class='continue-button-panel'>
        <div class='button button-wizard-next otoboto-blue text-small' (click)='value && done.emit(value);'>
            המשך
        </div>
    </div>



</div> 