.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 7px;
}

.icon-box {
    position: absolute;
    right: -25px;
    top: 0;
    width: 42.5px;
    height: 42.5px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    background-color: transparent;
    overflow: hidden;
}

.input-box {
    width: 80%; 
}

.input-box-panel {
    width: 80%;
}

@media only screen and (min-width : 768px) {
    .icon-box {
        right: -26px;
        top: 0;
        width: 53px;
        height: 53px;
    }
    .wrapper {
        width: 276px;
        height: 53px;
    }
}