.wrapper {
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.continue-button-panel {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width : 768px) {
    .continue-button-panel {
        margin-top: 13.75px;
        width: 60.25px;
        height: 22.5px;
        align-self: center;
        position: unset;
    }

}