.top-bar { 
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    background-color: white; 
}

.navigation-panel {
    margin-right: 100px;
    width: 50px;
    display: flex;
    justify-content: space-around;
}