<div class='top-bar'>
    <div *ngIf='!userProfileData' class='logo-panel'>
        otoboto
    </div>
    <div class='login-panel'>
        <div *ngIf='loading' class='spinner-box'>
            <div class='spinner'></div>
        </div>
        <div *ngIf='!loading'>
            <button *ngIf='!userProfileData' class='facebook-login-button' (click)='loginRequest.emit($event)'>
                <img class='facebook-login-icon' [src]='"../../assets/facebook.svg"'/>
                התחבר
            </button>
            <!--img *ngIf='userProfileData' class='userAvatarImage' [src]='userProfileData.picture.data.url'/-->
        </div>
    </div>    
</div> 