<div class='top-bar'>
    <div class='logo-panel'>
        otoboto
    </div>
    <div class='login-panel'>
        <div style='position:relative'>
            <button *ngIf='!loading && !userProfileData' class='facebook-login-button' (click)='loginRequest.emit($event)'>
                <img class='facebook-login-icon' [src]='"../../assets/facebook.svg"'/>
                התחבר
            </button>
            <button *ngIf='userProfileData && viewMode=="wizard" && haveResults' class='white-button back-button' (click)='showResults.emit($event)'>
                חזור לתוצאות 
            </button>       
            <div *ngIf='loading' class='spinner-box'>
                <div class='spinner white'></div>
            </div>     
            <img *ngIf='userProfileData && !loading && viewMode=="wizard" && showAvatar' class='user-avatar-image' [src]='userProfileData.picture.data.url' (click)='block($event);showUserMenu=true'/>
            <div class='user-menu' [ngClass]='{show:showUserMenu}' [clickOutside] (clickedOutside)='showUserMenu=false'>
                <div class='item'>
                    <div class='icon'>

                    </div>
                    <div class='caption'>
                        פרסם מודעה
                    </div>
                </div>
                <div class='item' (click)='showUserMenu=false; logoutRequest.emit($event)'>
                    <div class='icon'>

                    </div>
                    <div class='caption'>
                        התנתק
                    </div>                    
                </div>
            </div>
        </div>
    </div>    
</div>  