.wrapper {
    display: flex;
    flex-direction: column;
}

.section-title {
    margin-top: 47.5px;
    margin-bottom: 11.5px;
}

.content {
    max-height: 127px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 71px;
}

.record {
    margin-bottom: 5px;
}

@media only screen and (min-width : 768px) {

    .content {
        max-height: 93px;
        overflow-y: auto;
        height: unset;
    }

    .wrapper {
        padding-right: 24.5px;
        padding-left: 24.5px;
    }

}