.list-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

@media only screen and (max-width: 1725px) {
    .list-wrapper {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 1450px) {

    .list-wrapper {
        margin-top: 200px;
        justify-content: center;
    }
}



.chatbot-wrapper {
    position: fixed;
    top: 100px;
    left: 60px;
    display: flex;
    justify-content: space-around;
}