.gallery-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
}

.swiper {
    width: 80%; 
    max-width: 1200px;
    align-self: center;
    position: absolute;
    top: 177px;
    max-height: 80%;
    overflow: hidden;    
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    font-size: 60px;
    cursor: pointer;
}