<div class='wrapper'>

    <div class='primary-details'>

        <div class='location text-weak'>
            <img class='location-icon' src='../../../assets/location-icon-gray.svg'/>
            <label>{{data.city}}</label>
        </div>

        <div class='car-model'>
            
            <span class='model text-primary'> 
                {{data.manufacturer}} {{' '}} {{data.model}} {{' '}} {{data.year}}            
            </span>

            <div class='submodel text-secondary'> 
                {{data.sub_model}}
            </div>
            
        </div>

        <div *ngIf='data.rank' class='rank-gauge'>
            <div class='rank-gauge-inner'>
                <rank-gauge [rank]='data.rank'></rank-gauge>
                <label class='text-major'> {{normalizedRank}} </label>
            </div>
        </div>

    </div>

    <div class='properties'>
        <div *ngFor='let property of properties' class='property-box'>
            <div class='icon'>
                <img [src]='property.icon'/>
            </div>
            <div class='title text-weak'>
                {{property.caption}}
            </div>
        </div>
    </div>



    <div class='contact-panel desktop'>
        <div class='contact-name-phone'>
            <div class='phone-number' [ngClass]='{"phone-number-visible": showPhoneNumber}'>
                {{data.seller_phones[0]}}
            </div>
            
            <div class='contact-box text-secondary otoboto-frame otoboto-fill' (click)='block($event); showPhoneNumber=true; showContact.emit(data.seller_phones[0])'>
                {{data.seller_name}}
            </div>
        </div> 
        <div class='price-box text-secondary' style='color: #14C6C6'>
            {{data.price | nis}}
        </div>      
    </div>

    <img class='desktop expand-arrow' [ngClass]='{rotate: expanded}' src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEGSURBVFhH7dY9DoIwGMZxjKN6ClcnD+E5nNw8hKuLh3CyA+FjYnXyMl7AmODTpE9AECPSlg7vPyGR9qX9jUaSJEmSZKckSRZZlp3SND0qpeZm2Vt5nq9w/xn378zSe9g4YKDUD35ffSJx5xp33nm/fjdbVRjY1wa8ITWmgXvEcbw021XATLGpaoPOkbijiXvifWu22/lE4ux+OOYDiTP/wzGXSJw1DMdcIHGGHRyzicS3dnHMBhLfuMGxIUjMusWxLmRRFDMz0gozfnCsDxJ7fnHsFyTWxsGxb0j8HhfHPiHx3ILAsQ5kGDjWgQwDxwzyEiSOlWU5AW6j/7qbJUmSJEkavSh6AblnXhWe//lxAAAAAElFTkSuQmCC">

</div>