<div class='wrapper'>

    <div class='primary-details bordered-bottom-backdrop'>

        <div class='location text-weak'>
            <img class='location-icon' src='../../../assets/location-icon-gray.svg'/>
            <label>{{data.city}}</label>
        </div>

        <div class='car-model'>
            
            <div class='model text-primary'> 
                <div> {{data.manufacturer}} </div>
                <div> &nbsp; </div>
                <div> {{data.model}} </div>
                <div> &nbsp; </div>
                <div> {{data.year}} </div>                
            </div>

            <div class='submodel text-secondary'> 
                {{data.sub_model}}
            </div>
            
        </div>

        <div *ngIf='data.rank' class='rank-gauge'>
            <div class='rank-gauge-inner'>
                <rank-gauge [rank]='data.rank'></rank-gauge>
                <label class='text-major'> {{normalizedRank}} </label>
            </div>
        </div>

    </div>

    <div class='properties bordered-bottom-backdrop'>
        <div *ngFor='let property of properties' class='property-box'>
            <div class='icon'>
                <img [src]='property.icon'/>
            </div>
            <div class='title xx-small'>
                {{property.caption}}
            </div>
        </div>
    </div>

    <div class='actions mobile'>
        <div class='action-box like-button' (click)='like.emit()'>
            <img src='../../../assets/like-button.svg'/>
        </div>
        <a href="tel:{{data.seller_phones[0]}}">
            <div class='contact-box text-secondary-prime'>
                {{data.seller_name}} - {{data.seller_phones[0]}}
            </div>
        </a>
        <div class='action-box dislike-button' (click)='dislike.emit()'>
            <img src='../../../assets/dislike-button.svg'/>
        </div>
    </div> 

    <div class='desktop'>
        <div class='contact-box text-secondary-prime'>
            {{data.seller_name}} - {{data.seller_phones[0]}}
        </div>        
    </div>

</div>