.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.primary-details {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #F6F6F6;
}

.properties {
    height: 54px;
    border-bottom: 3px solid #F6F6F6;
}



.location {
    display: flex;
}

.location-icon {
    width: 9px;
    height: 11.5px;
    margin-left: 3.5px;
}

.car-model {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    margin-right: 5px;
}

.model {
    display: flex;
}

.submodel {
    margin-top: 4.5px;
}



.rank-gauge {
    width: 60px;
    position: absolute;
    left: 24.5px;
    top: 20.5px;
}

.rank-gauge-inner {
    position: relative;
}

.rank-gauge-inner label {
    position: absolute;
    left: 0;
    right: 0;
    top: 19px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.properties {
    display: flex;
    justify-content: space-around;
}

.property-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    width: 15px;
    align-self: center;
    margin-bottom: 2px;
}

.price-box {
    display: flex;
    justify-content: center;
}

.contact-panel {
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (min-width : 768px) {

    .wrapper {
        position: relative;
    }



    .primary-details {
        border: none;
    }

    .properties {
        border: none; 
        padding-right: 14px;
        padding-left: 7px;
        margin-bottom: 29px;
    }

    .location-icon {
        width: 10px;
        height: 15px;
        margin-left: 4.5px;
    }

    .icon {
        width: 29px;
    }

    .rank-gauge {
        width: 86px;
    }

    .rank-gauge-inner label {
        top: 26px;
    }

    .text-secondary-prime {
        font-size: 16px;
    }

    .contact-box {
        width: 110px;
        height: 35px;
        display: flex;
        justify-content: center;
        line-height: 32px;
        box-sizing: border-box;
        cursor: pointer;
        padding-right: 14px;
    }

    .price-box {
        width: 150px;
        height: 44px;
        display: flex;
        justify-content: center;
        line-height: 40px;
        font-size: 20px;
        box-sizing: border-box;        
    }

    .contact-panel-centered {
        justify-content: center;
        position: relative;
        margin-bottom: 16px;
    }

    .contact-panel {
        margin-left: 20px;
        margin-right: 47px;
    }

    .model {
        max-width: 186px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 8px;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
    }

    .submodel {
        max-width: 186px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 8px;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
    }

    .contact-name-phone {
        position: relative;
    }

    .phone-number {
        position: absolute;
        top: 0px;
        transition: all 0.2s ease-in-out;
        width: 100%;
        text-align: center;
        opacity: 0;
        z-index: -1;
    }

    .phone-number-visible {
        top: -28px;
        opacity: 1;
    }

    .expand-arrow {
        position: absolute;
        width: 15px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: -15px;   
        opacity: 0; 
        transition: all 0.1s ease-in-out;    
    }
    
    .wrapper:hover .expand-arrow {
        opacity: 1;
        transition: all 0.1s ease-in-out; 
    }

    .rotate {
        transition: all 0.1s ease-in-out; 
        -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
        -moz-transform: rotate(180deg);        /* FF */
        -o-transform: rotate(180deg);          /* Opera */
        -ms-transform: rotate(180deg);         /* IE9 */
        transform: rotate(180deg);             /* W3C compliant browsers */
      
        /* IE8 and below */
        filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');        
    }

    .call-seller-image {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        width: 20px;
        align-self: center;
    }

    .call-button {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        left: 0px;
        transition: all 0.3 ease-in-out;
        opacity: 0;
    }

    .wrapper:hover .call-button {
        opacity: 1;
        left: 26px;
        transition: all 0.3s ease-in-out; 
    }    

}