<div class='wrapper'>

    <div class='primary-details'>

        <div class='location text-weak'>
            <img class='location-icon' src='../../../assets/location-icon-gray.svg'/>
            <label>{{data.city}}</label>
        </div>

        <div class='car-model'>
            
            <span class='model text-primary'> 
                {{data.manufacturer}} {{' '}} {{data.model}} {{' '}} {{data.year}}            
            </span>

            <div class='submodel text-secondary'> 
                {{data.sub_model}}
            </div>
            
        </div>

        <div *ngIf='data.rank' class='rank-gauge'>
            <div class='rank-gauge-inner'>
                <rank-gauge [rank]='data.rank'></rank-gauge>
                <label class='text-major'> {{normalizedRank}} </label>
            </div>
        </div>

    </div>

    <div class='properties'>
        <div *ngFor='let property of properties' class='property-box'>
            <div class='icon'>
                <img [src]='property.icon'/>
            </div>
            <div class='title text-weak'>
                {{property.caption}}
            </div>
        </div>
    </div>



    <div class='contact-panel desktop'>
        <div class='contact-name-phone'>
            <div class='phone-number' [ngClass]='{"phone-number-visible": showPhoneNumber}'>
                {{data.seller_phones[0]}}
            </div>
            <div class='contact-box text-secondary otoboto-frame otoboto-fill' (click)='block($event); showPhoneNumber=true'>
                {{data.seller_name}}
            </div>
        </div> 
        <div class='price-box text-secondary' style='color: #14C6C6'>
            {{data.price | nis}}
        </div>      
    </div>

</div>