.wrapper {
    display: flex;
    flex-direction: column;
}

.bot-panel {
    width: 100%;
    height: 134.5px;
    z-index: 11;
}

.floating {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.hidden {
 
}

.solid {
    z-index: 11;
}

.bot-vertical {
    display: none;
}

.bot-vertical {
    display: flex;
}

.navigation-panel {
    margin-bottom: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 3px solid #EBEBEB;
}

.navigation {
    height: 100%;
    width: 100%;
    align-self: center;
}

.list-view-panel {
    display: flex;
    flex-direction: column; 
}

@media only screen and (min-width : 768px) {

    .wrapper {
        flex-direction: column;
    }  

    .bot-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 33vw;
        height: 100%;
    }
 
    .bot-vertical {
        display: flex;
    }
    
    .bot-vertical {
        display: none;
    }

    .navigation-panel {
        height: 85.5px;
        width: 67vw;
        margin-bottom: 54px;
        z-index: 100;
    }

    .list-view-panel {
        width: 67vw;
        margin-top: 0px;
    }

    .floating {
        right: 0;
    }    


}