.wrapper {
    display: flex;
    flex-direction: column;
}

.bot-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 134.5px;
    z-index: 10;
}

.bot-vertical {
    display: none;
}

.bot-vertical {
    display: flex;
}

.navigation-panel {
    height: 100px;
    margin-top: 134.5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navigation {
    height: 100%;
    width: 90%;
    align-self: center;
}

.list-view-panel {
    display: flex;
    flex-direction: column; 
}

@media only screen and (min-width : 768px) {

    .wrapper {
        flex-direction: column;
    }  

    .bot-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 33vw;
        height: 100%;
    }
 
    .bot-vertical {
        display: flex;
    }
    
    .bot-vertical {
        display: none;
    }

    .navigation-panel {
        height: 85.5px;
        width: 67vw;
        margin-top: 69px;
        margin-bottom: 54px;
    }

    .list-view-panel {
        width: 67vw;
        margin-top: 0px;
    }


}