.user-menu {
    background: white;
    padding: 20px;

    color: #3c3c3c;
    width: 150px;
    border: 1px solid #eee;
    padding-top: 67px;
    display: flex;
    flex-direction: column;
    //transform: translateY(-2em);

    transition: all 0.1s ease-in-out;
    opacity: 0;
    visibility: hidden;
    .item {
        display: flex;
        height: 36px;
        justify-content: center;
        cursor: pointer;
        .caption {
            line-height: 36px;
        }
    }

}

.show {
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 9999999;
    transition: all 0.1s ease-in-out;
    //transform: translateY(0%);
    //transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}
/*
.user-menu:before {
    left: 115px;
}

.user-menu:before {
    border: solid transparent;
    border-bottom-color: #f6f6f6;
    border-width: 6px;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -82px; 
    pointer-events: none;
    position: absolute;
    width: 0;
}
*/

.soon {
    color: #cccbcb;
    cursor: default !important;
}

@media only screen and (min-width : 768px) {
    .user-menu {
        
    }
    .user-menu:before {
        margin-left: -6px;
    }
}