<div #wrapper class='main-wrapper card assistant'> 

    <div class='card-main-panel'>

            <div class='gallery-panel'> <!--(click)='showImages.emit(); show_full_gallery = !show_full_gallery;'-->
                
                <div class='round-button white-gray-button like-panel' (click)='like.emit(actions[0])'>
                    <md-icon class="phone-icon">favorite_border</md-icon>
                </div>

                <swiper class='gallery-swiper' [config]="config">
                    <div class='gallery-cover' *ngFor='let image of data.mobile_pics; let i = index' [ngStyle]="{'background-image': 'url(' + image  + ')'}" (click)='showGallery(i, data.mobile_pics)'>
                    </div>                   
                </swiper>    

            </div>

        
            <div class='content-panel'>

                        <div class='remove-icon-frame'>
                            <md-icon class="icon remove-icon" (click)='action.emit(actions[1])'>cancel</md-icon>
                        </div>
                            
                        <div class='rating-box' [ngClass]="{'recommended green-text': rankSummary=='recommended', 'unrecommended': rankSummary=='unrecommended', 'neutral': rankSummary=='neutral'}">
                            <div class='rank-icon-box'>
                                <md-icon *ngIf='rankSummary=="unrecommended"' class="icon sad rank-face">sentiment_dissatisfied</md-icon>
                                <md-icon *ngIf='rankSummary=="neutral"' class="icon neutral rank-face">sentiment_neutral</md-icon>
                                <md-icon *ngIf='rankSummary=="recommended"' class="icon happy rank-face">sentiment_satisfied</md-icon>
                            </div>                       
                            <label class='rating-label'>
                                {{ data.rank | number:'.1-1' }} 
                            </label>
                        </div>   
                        
                        <div class='main-details-panel'>

                            <div class='location-panel assistant'>
                                <md-icon class="icon location-icon dark-gray-text">location_on</md-icon>
                                <label class='dark-gray-text'>{{data.city}}</label>
                            </div>                      

                            <div class='model-panel'>

                                <div class='model-text dark-gray-text'> 
                                    <div> {{data.manufacturer}} </div>
                                    <div> &nbsp; </div>
                                    <div> {{data.model}} </div>
                                    <div> &nbsp; </div>
                                    <div> {{data.year}} </div>                
                                </div>

                                <div class='submodel-text light-gray-text'> 
                                    {{data.sub_model}}
                                </div>

                            </div>

                            <div class='seperator-horizontal'></div>

                            <div class='properties-div dark-gray-text'>

                                <div class='property-entry'> 
                                    <label class='hand-token'> {{data.hand}} </label>
                                    <label> {{handCaption}} </label>                                  
                                </div>

                                <div class='property-entry'> 
                                    <md-icon class="prop-icon">settings</md-icon>
                                    <label> {{gearTypeCaption}} </label>                                    
                                </div>

                                <div class='property-entry'> 
                                    <md-icon class="prop-icon">timelapse</md-icon>
                                    <label> {{milageCaption}} </label>                                  
                                </div>

                                <div class='property-entry'> 
                                    <md-icon class="prop-icon">whatshot</md-icon>
                                    <label> {{volumeCaption}} </label>                                  
                                </div>

                            </div>

                            <div class='seperator-horizontal'></div>

                            <div class='price-panel dark-gray-text'>
                                <label class='price-label'> {{data.price | nis}} </label>   
                            </div>

                            <div class='round-button green-white-button phone-panel'>
                                <md-icon class="phone-icon">phone_android</md-icon>
                            </div>

                        </div>
              


                    <!---div class='right-panel'>

                        <div class='main-info-panel'>

                            <div class='top-panel'>

                                <div class='rank-panel'>

                                    <div class='rank-icon-box' [ngClass]="{'recommended': rankSummary=='recommended', 'unrecommended': rankSummary=='unrecommended', 'neutral': rankSummary=='neutral'}">
                                        <md-icon *ngIf='rankSummary=="unrecommended"' class="icon sad">sentiment_dissatisfied</md-icon>
                                        <md-icon *ngIf='rankSummary=="neutral"' class="icon neutral">sentiment_neutral</md-icon>
                                        <md-icon *ngIf='rankSummary=="recommended"' class="icon happy">sentiment_satisfied</md-icon>
                                    </div>   

                                    <div class='rank-text' [ngClass]="{'recommended': rankSummary=='recommended', 'unrecommended': rankSummary=='unrecommended', 'neutral': rankSummary=='neutral'}">
                                        {{ data.static_rank | number:'.1-1' }} 
                                    </div>
                                    
                                </div>

                                <div class='location-panel assistant'>
                                    <div class='location-icon'>
                                        <md-icon class="icon">location_on</md-icon>
                                    </div>
                                    <div class='location-token'>
                                        {{data.city}}
                                    </div>
                                </div>    

                            </div>

                            <div class='model-panel'>

                                <div class='model-text'> 
                                    <div> {{data.manufacturer}} </div>
                                    <div> &nbsp; </div>
                                    <div> {{data.model}} </div>
                                    <div> &nbsp; </div>
                                    <div> {{data.year}} </div>                
                                </div>

                                <div class='submodel-text'> 
                                    {{data.sub_model}}
                                </div>

                            </div>

                            <div class='properties-div'>

                                <div class='property-entry'> 
                                    <md-icon class="prop-icon">person</md-icon>
                                    <label> {{handCaption}} </label>                                  
                                </div>

                                <div class='property-entry'> 
                                    <md-icon class="prop-icon">settings</md-icon>
                                    <label> {{gearTypeCaption}} </label>                                    
                                </div>

                                <div class='property-entry'> 
                                    <md-icon class="prop-icon">timelapse</md-icon>
                                    <label> {{milageCaption}} </label>                                  
                                </div>

                                <div *ngFor='let property of properties'>
                                    <div class='icon'>
                                        <md-icon class="icon">{{property.icon}}</md-icon>
                                        {{property.caption}}
                                    </div>
                                    <div class='caption'>
                                         {{property.value}}
                                    </div>
                                </div>

                            </div>


                        </div>



                    </div-->

                    <!--div class='seperator'>
                        
                    </div-->

                    <!--div class='left-panel'> 
                        <div class='price-panel roboto'>
                            {{data.price[0] | nis}}
                        </div>

                                <div class='manage-actions-panel'>
                                    <div class='fav-panel'>
                                        <md-icon class="icon" (click)='action.emit(actions[1])'>cancel</md-icon>
                                        <md-icon class="icon" (click)='action.emit(actions[0])'>favorite</md-icon>
                                    </div>
                                </div>            

                        <div class='actions-panel'>
                            <div class='phone-panel'>
                                <img src="https://maxcdn.icons8.com/iOS7/PNG/50/Mobile/cell_phone-50.png" title="Cell Phone" width="30" height="30">
                            </div>
                        </div>

                    </div-->

            </div>

        </div>

        <!--div class='full-gallery-panel' *ngIf='show_full_gallery'>
            <image-gallery class='full-gallery' [images]='data.mobile_pics' [ngClass]='{visible: show_full_gallery}'></image-gallery>
        </div-->
        
</div>

 