.wrapper {
    display: flex;
    justify-content: center;
}

.send-button {

}

.input-frame {
    height: 40px;
    width: 300px;
    border: 1px solid #DBDBDB;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    line-height: 40px;
    font-size: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
    color: #484848;  
    margin-left: 20px;
    position: relative;
    align-self: center;  
}

.hidden-input {
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: white;
    font-weight: normal !important;
    background-color: transparent !important;
    border: 0px !important;
    padding: 11px !important;
    width: 160px !important;
    text-overflow: ellipsis !important;
    outline: none;
}