.control-panel {
    height: 59vw;
    position: relative;
}

.avatar-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.top-bar {
    width: 100%;
}

@media only screen and (min-width : 768px) {
    .avatar-panel {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }  
    .control-panel {
        height: 296px;   
    }
}