.control-panel {
    height: 59vw;
    position: relative;
    display: block;
}

.avatar-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.top-bar {
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.cover-mobile {
    display: block;
    z-index: 100;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.cover-desktop {
    display: none;
}

.fog {
    background: rgba(246,246,246,1);
    background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 49%, rgba(246,246,246,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,246,246,1)), color-stop(49%, rgba(246,246,246,1)), color-stop(100%, rgba(246,246,246,0)));
    background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 49%, rgba(246,246,246,0) 100%);
    background: -o-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 49%, rgba(246,246,246,0) 100%);
    background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 49%, rgba(246,246,246,0) 100%);
    background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 49%, rgba(246,246,246,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6', GradientType=0 );
    width: 100%;
    position: absolute;
    bottom: -89px;
    left: 0;
    right: 0;
    height: 90px;
    opacity: 0;
    z-index: 90;
}

.visible {
    opacity: 1;
}

.hidden {
    display: 0;
    display: none;
}

.navigation-bar {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    align-self: center;
    z-index: 12;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.visible {
    opacity: 1;
}

@media only screen and (min-width : 768px) {

    .control-panel {
        height: 59vw;
        position: relative;
        display: flex;
    }

    .avatar-panel {
        position: absolute;
        top: unset;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        height: 40%;
        background-image: url('../../../assets/otoboto-buildings-cover.svg');
        background-size: contain;
        background-position: bottom;
        background-repeat: repeat-x;
        justify-content: center;
        display: flex;
    }  

    .cover-mobile {
        display: none;
    }

    .cover-desktop {
        display: block;
        margin-bottom: -140px;
        width: 485px;
        position: absolute;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 82px;
        z-index: 100;
        transition: all 1s ease-in-out;
    }

    .otoboto-face {
        width: 100px;
        margin-right: 40px;
        z-index: 100;
    }

    .navigation-bar {
        display: flex;
        position: absolute;
        bottom: -60px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        height: 60px;
        -webkit-box-pack: center;
        -ms-flex-pack: justify;
        justify-content: center;
        transition: opacity 1s ease-in-out;
        z-index: 120;
        background: white;
        width: 100%;
        opacity: 0;
    }

    .navigation-button {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        border-radius: 100%;
        cursor: pointer;
        z-index: 100;
    }

    .navigation-button img {
        width: 50%;
    }

    .fog {
        background: white;
        background: -webkit-gradient(left top,left bottom,color-stop(0,#f6f6f6),color-stop(49%,#f6f6f6),color-stop(100%,hsla(0,0%,96%,0)));
        /* background: linear-gradient(180deg,#f6f6f6 0,#f6f6f6 49%,hsla(0,0%,96%,0)); */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6f6f6",endColorstr="#f6f6f6",GradientType=0);
        width: 100%;
        position: absolute;
        top: 322px;
        left: 0;
        right: 0;
        height: 50px;
        z-index: 90;
        opacity: 1;

    }

    .visible {
        opacity: 1;
    }
    
    .hidden {
        opacity: 0;
    }

}