.control-panel {
    height: 59vw;
    position: relative;
}

.avatar-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.top-bar {
    width: 100%;
}

.cover-mobile {
    display: block;
}

.cover-desktop {
    display: none;
}

@media only screen and (min-width : 768px) {
    .avatar-panel {
        position: absolute;
        top: unset;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        background-image: url('../../../assets/otoboto-buildings-cover.svg');
        background-size: contain;
        background-position: bottom;
        background-repeat: repeat-x;
        justify-content: center;
        display: flex;
    }  
    .control-panel {
        height: 42vh;  
    }
    .cover-mobile {
        display: none;
    }
    .cover-desktop {
        display: block;
        margin-bottom: -140px;
        width: 485px;
    }
}