.button {
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button-wizard-next {
    height: 53px;
    width: 99px;
    line-height: 53px;
    box-sizing: border-box;
}

.response-button {
    background: white; 
    color: $warm-gray;
    border: none;
    cursor: pointer;
}

@media only screen and (min-width : 768px) {



}

.facebook-login-button {
    width: 66.5px;
    height: 22px;
    border: 1px solid white;
    color: white; 
    border-radius: 4px; 
    line-height: 16px;
    text-align: center;
    font-size: 9px; 
    cursor: pointer;
    background: $primary;

}