.button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

@media only screen and (min-width : 768px) {
    .button {
        width: 60px;
        height: 22.5px;
        line-height: 22.5px;
        padding: 0;
    }
}
