
.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    background: #0084ff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 50px;
}

.avatar-panel {
    align-self: center;
}

.caption-panel {
    align-self: center;
    color: white;
    font-size: 21px;
    margin-top: 30px;
}

.options-panel {
    display: flex;
    justify-content: center;
}

.option-button {
    font-size: 20px;
    margin: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}