
@import "app/style/colors";
@import './app/style/swiper';
@import './app/style/google-autocomplete';
@import './app/style/input';
@import './app/style/buttons';
@import './app/style/spinner';

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background: $backdrop;
    width: 100vw;
    height: 100vh;
}

* {
    font-family: 'Rubik', sans-serif;
}

.otoboto-medium-gray {
    background-color: $medium-gray;
}

.otoboto-warm-gray {
    background-color: $warm-gray;
}

.otoboto-blue {
    background-color: $primary;
    color: white;
}

.otoboto-white {
    background: white;
}

.dark-backdrop {
    background: $dark-backdrop;
}

.otoboto-yellow {
    background-color: $accent;
}


.border-otoboto-medium-gray {
    border-color: $backdrop;    
}



.text-primary {
    font-size: 15px;
    color: $dark-gray;
}

.text-details {
    font-size: 12px;
    color: $dark-gray;    
}

.text-secondary-white {
    font-size: 10px;
    color: white;     
}

.text-secondary {
    font-size: 12px;
}

.text-secondary-prime {
    font-size: 10px;
    color: $primary; 
}

.text-weak {
    font-size: 9.5px;
    color: $warm-gray;
}

.text-major {
    font-size: 20.5px;
    color: $primary;
}

.xx-small {
    font-size: 9.5px;
    color: $warm-gray;
}

.text-speach {
    font-size: 15px;
    color: white; 
}

.mobile {
    display: flex;
}

.desktop {
    display: none;
}

.otoboto-frame {
    border: 1px solid $primary;
    border-radius: 6px;
}

.otoboto-fill {
    background: white;
    color: $primary;
}

.otoboto-fill-negative {
    background: $primary;
    color: white;
}

.disabled {
    border: $medium-gray;
    color: white;
    background: $medium-gray;
}

@media only screen and (min-width : 768px) {

    body {
        width: unset;
        height: unset;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }

    .text-weak {
        font-size: 14px;
    }

    .text-primary {
        font-size: 20px;
    }

    .text-secondary {
        font-size: 16px;
    }

    .text-major {
        font-size: 29px;
    }

    .text-speach {
        font-size: 30px;
    }

}

.scroll-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #ffda80;
	background-color: #F5F5F5;
}

.scroll-list::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scroll-list::-webkit-scrollbar-thumb
{
	background-color: #ffda80;
}


.fog {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.info-inner-wrapper {
    overflow: hidden !important;
}