
@import "app/style/colors";
@import './app/style/swiper';
@import './app/style/google-autocomplete';
@import './app/style/input';
@import './app/style/buttons';

body {
    margin: 0;
    padding: 0;
    
    background: $backdrop;
}

* {
    font-family: 'Rubik', sans-serif;
}

.otoboto-medium-gray {
    background-color: $medium-gray;
}

.otoboto-warm-gray {
    background-color: $warm-gray;
}

.otoboto-blue {
    background-color: $primary;
    color: white;
}

.otoboto-white {
    background: white;
}

.dark-backdrop {
    background: $dark-backdrop;
}

.otoboto-yellow {
    background-color: $accent;
}


.border-otoboto-medium-gray {
    border-color: $backdrop;    
}



.text-primary {
    font-size: 15px;
    color: $dark-gray;
}

.text-details {
    font-size: 12px;
    color: $dark-gray;    
}

.text-secondary-white {
    font-size: 10px;
    color: white;     
}

.text-secondary {
    font-size: 10px;

}

.text-secondary-prime {
    font-size: 10px;
    color: $primary; 
}

.text-weak {
    font-size: 9.5px;
    color: $warm-gray;
}

.text-major {
    font-size: 20.5px;
    color: $primary;
}

.xx-small {
    font-size: 9.5px;
    color: $warm-gray;
}

.text-speach {
    font-size: 15px;
    color: white; 
}

.mobile {
    display: flex;
}

.desktop {
    display: none;
}

.otoboto-frame {
    border: 3px solid $primary;
    border-radius: 6px;
}

.otoboto-fill {
    background: white;
    color: $primary;
}

.otoboto-fill-negative {
    background: $primary;
    color: white;
}

@media only screen and (min-width : 768px) {

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }

    .text-weak {
        font-size: 14px;
    }

    .text-primary {
        font-size: 20px;
    }

    .text-secondary {
        font-size: 16px;
    }

    .text-major {
        font-size: 29px;
    }

    .text-speach {
        font-size: 30px;
    }

}