@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    padding: 0;
    background: #FAFBFD;
}

.assistant {
    font-family: 'Assistant', sans-serif;
}

.poppings { 
  font-family: 'Poppins', sans-serif;
}

.dark-gray-text {
    color: #486066;
}

.light-gray-text {
  color: rgb(182, 182, 182);
}

.green-text {
    color: #44D89E;    
}

.seperator-horizontal {
  background: #FAFBFD;
  width: 100%; 
  height: 1px; 
  border: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

.swiper-pagination-bullet-active {
  background: transparent !important;
  border: 1px solid white !important;
}

.content-swiper .swiper-pagination-bullet-active {
  background: transparent !important;
  border: 1px solid black !important;
}

.card-main-panel:hover .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  display: block;
}

.card-main-panel:hover .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  display: block;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
    left: 10px;
    right: auto; 
    display: none;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
  right: 10px;
  left: auto;
  display: none;
}






.round-button {
  margin: 0;

  border: 0;
  padding: 0 30px;
  height: 40px;
  font-weight: 600;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 1000px;
  transition: background-color .15s ease-out;
  display: flex;
  justify-content: center;
}

.green-white-button {
  background-color: #44d89e;
  box-shadow: 0 2px 1px rgba(0,0,0,.15);
  color: white;
}

.green-white-button:hover {
  background-color: #7EE4BC;
}

.white-gray-button {
  background-color: white;
  box-shadow: 0 2px 1px rgba(0,0,0,.15);
  color: #486066;
}

.white-gray-button:hover {
  transition: box-shadow .15s ease-out;
}