.wrapper {
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.avatar {
    width: 21px;
    height: 21px;
    border-radius: 100%;
    align-self: center;
}

.navigation-button {
    width: 28.5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.favorites-icon {
    width: 17px;
    align-self: center;
}

.results-icon {
    height: 28.5px;
}

