<div class='wrapper otoboto-white'>

    <div class='navigation-section' (click)='viewMode!="results" && setViewMode.emit("results")'>
        <div class='navigation-button'>
            <img class='navigation-icon' [src]='viewMode=="results" ? "../../assets/navigation-button-results-active.svg" : "../../assets/navigation-button-results.svg"'/>
        </div>
    </div>
    <div class='navigation-section' (click)='viewMode!="favorites" && setViewMode.emit("favorites")'>
        <div class='navigation-button'>
            <img class='navigation-icon favorites' [src]='viewMode=="favorites" ? "../../assets/navigation-button-favorites-active.svg" : "../../assets/navigation-button-favorites.svg"'/>
        </div> 
    </div>
    <div class='navigation-section' (click)='viewMode!="user" && setViewMode.emit("user")'>    
        <div class='navigation-button'>
            <img class='avatar' [src]="userProfileData ? userProfileData?.picture?.data?.url : '../../assets/avatar-159236_640.png'" [ngClass]='{adjust: !userProfileData}'/>
        </div>
    </div>

    <div class='header-line otoboto-blue' [ngClass]='{right: viewMode=="results", center: viewMode=="favorites", left: viewMode=="user"}'></div>

</div>