<div class='wrapper otoboto-white'>
    <div class='navigation-button' (click)='setViewMode.emit("results")'>
        <img class='results-icon' src='../../assets/navigation-button-results.svg'/>
    </div>
    <div class='navigation-button' (click)='setViewMode.emit("favorites")'>
        <img class='favorites-icon' src='../../assets/navigation-button-favorites.svg'/>
    </div>     
    <div *ngIf='userProfileData' class='navigation-button'>
        <img class='avatar' [src]="userProfileData?.picture?.data?.url"/>
    </div>
</div>