.wrapper {
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.avatar {
    width: 30px;
    border-radius: 100%;
    align-self: center;
}

.navigation-button {
    width: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.navigation-icon {
    cursor: pointer;
}





