
<div *ngIf='isMobile' class='horizontal-wrapper' [ngClass]='{"show-bot-mobile": showBot}'>

    <div class='horizontal-right-panel'>
        <bot-avatar class='bot-avatar'></bot-avatar>
    </div>

    <div class='horizontal-left-panel'>
        <div *ngIf='!attention' class='filters-panel'>
        
        </div>
        <div class='speach-panel' [ngClass]='{"speach-panel-full": attention}'>
            <bot-speach #speach [caption]='caption' [captionType]='captionType' [userResponseType]='userResponseType' [operationCode]='operationCode' [placeholder]='inputPlaceholder' (request)='request.emit({code: $event})' (userResponse)='processUserResponse($event)'></bot-speach>
        </div>            
    </div>
        
</div>

<div *ngIf='!isMobile' class='wrapper wrapper-centered'>

    <div class='speach-panel'>
        <bot-speach #speach [caption]='caption' [captionType]='captionType' [images]='images' [userResponseType]='userResponseType' [operationCode]='operationCode' [placeholder]='inputPlaceholder' (request)='request.emit({code: $event})' (userResponse)='processUserResponse($event)'></bot-speach>
    </div>

    <div class='figure-panel angry' [ngClass]='{angry: jump}'>
        <img class='figure desktop' [src]='"../../../assets/48-58-47.svg"'/>
    </div>

</div>

