<div class='wrapper otoboto-fill-negative'>

    <div class='vertical-wrapper'>

        <div class='vertical-top-panel'>
            <!--filters></filters-->
        </div> 
        
        <div class='vertical-bottom-panel'>
            <div class='bot-avatar-panel'>
                <bot-avatar class='bot-avatar'></bot-avatar>
            </div>
            <div class='speach-panel'>
                <bot-speach [caption]='caption' [userResponseType]='userResponseType' (userResponse)='request.emit({code: operationCode, data: operationData})'></bot-speach>
            </div>    
        </div>         
    
    </div>

    <div class='horizontal-wrapper'>

        <div class='horizontal-right-panel'>
            <bot-avatar class='bot-avatar'></bot-avatar>
        </div>

        <div class='horizontal-left-panel'>
            <div *ngIf='!attention' class='filters-panel'>
                <!--filters></filters-->
            </div>
            <div class='speach-panel' [ngClass]='{"speach-panel-full": attention}'>
                <bot-speach [caption]='caption' [userResponseType]='userResponseType' (userResponse)='request.emit({code: operationCode, data: operationData})'></bot-speach>
            </div>            
        </div>
            
    </div>


</div>







<!--
    <div *ngIf='width<768' class='inner-wrapper-mobile'>

        <div class='bot-avater-panel'>
            <bot-avatar class='bot-avatar'></bot-avatar>
        </div>

        <div class='control-panel'>
            <div class='filters-panel'>
                <filters></filters>
            </div>
            <div class='speach-panel'>
                <speach></speach>
            </div>
        </div>
    </div>

    <div *ngIf='width>=768' class='inner-wrapper'>
        <div class='filters-panel'>
            <filters></filters>
        </div>    
        <div class='bot-figure-panel'>
            <div class='bot-avater-panel'>
                <bot-avatar class='bot-avatar'></bot-avatar>
            </div>
            <div class='speach-panel'>
                <speach></speach>
            </div>              
        </div>
    </div>
-->
