
<div *ngIf='isMobile' class='horizontal-wrapper'>

    <div class='horizontal-right-panel'>
        <bot-avatar class='bot-avatar'></bot-avatar>
    </div>

    <div class='horizontal-left-panel'>
        <div *ngIf='!attention' class='filters-panel'>
        
        </div>
        <div class='speach-panel' [ngClass]='{"speach-panel-full": attention}'>
            <bot-speach [caption]='caption' [captionType]='captionType' [userResponseType]='userResponseType' [operationCode]='operationCode' [placeholder]='inputPlaceholder' (request)='request.emit({code: $event})' (userResponse)='request.emit({code: operationCode, data: operationData})'></bot-speach>
        </div>            
    </div>
        
</div>

<div *ngIf='!isMobile' class='wrapper'>

    <div class='speach-panel'>
        <bot-speach [caption]='caption' [captionType]='captionType' [userResponseType]='userResponseType' [operationCode]='operationCode' [placeholder]='inputPlaceholder' (request)='request.emit({code: $event})' (userResponse)='request.emit({code: operationCode, data: operationData})'></bot-speach>
    </div>

    <div class='figure-panel'>
        <img class='figure desktop' [src]='"../../../assets/48-58-47.svg"'/>
    </div>

</div>

