/*
.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    background: white;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 50px;
    transition: all 0.5s ease-in-out;
    z-index: 999;
}

.cover {
  background: url("https://kapost-files-prod.s3.amazonaws.com/uploads/direct/1449254869-55-3084/Blog_eMotional_SocialSlide.gif");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%; 
  height: 400px;
  background-size: cover;
}

.minimized {
    width: 300px;
    background: white;
    color: black;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.alert {
  background: rgba(0,0,0,0.2);
  color: white;
  width: 100%;
  height: 100%;
}

.avatar-panel {
    align-self: center;
}

.caption-panel {
    align-self: center;
    font-size: 21px;
    margin-top: 30px;
}

.options-panel {
    display: flex;
    justify-content: center;
}

.option-button {
    font-size: 20px;
    margin: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-panel {
    justify-content: center;
    display: flex;
}

@media only screen and (max-width: 1450px) {
    .wrapper {
        width: 100%;
        height: 100px;
        justify-content: flex-start;
        flex-direction: row; 
        right: 0;       
        padding-top: 20px;
        padding-right: 20px;
        color: white;
    }
    .avatar-panel {
        align-self: flex-start;
    }
    .caption-panel {
        margin-top: 0;
        margin-right: 30px; 
    }
}



.typing-indicator {
  background-color: #e6e7ed;
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 20px;
  display: table;
  margin: 0 auto;
  position: relative;
  animation: 2s bulge infinite ease-out;
}
.typing-indicator::before, .typing-indicator::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #e6e7ed;
}
.typing-indicator::after {
  height: 10px;
  width: 10px;
  left: -10px;
  bottom: -10px;
}
.typing-indicator span {
  height: 15px;
  width: 15px;
  float: left;
  margin: 0 1px;
  background-color: #9e9ea1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  animation: 1s blink infinite 0.9999s;
}
@keyframes blink {
  50% {
    opacity: 1;
  }
}
@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}
html {
  display: table;
  height: 100%;
  width: 100%;
}
body {
  display: table-cell;
  vertical-align: middle;
}

*/

.wrapper {
  background-image: url('../../../assets/buba.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: -2025px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; 
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  z-index: 999; 
}

.top-bar {
  position: fixed;
  top: 0; 
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  line-height: 60px;
  background: white;

}

.logo-panel {
  align-self: center;
  margin-right: 80px;
}

.logo-label {
  text-transform: uppercase;
}

.caption-panel {
  align-self: center;
  padding-top: 250px; 
}

.caption-text {
  font-size: 42px;
  text-align: center;
}

.option-button {
  font-size: 15px;
}

.buttons-panel {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  width: 250px;
  align-self: center;
}

.minimized {
  width: 300px;
  background: white;
  color: black;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.minimized .top-bar {
  display: none;
}