
<div class='wrapper' [ngClass]='{minimized: mode == "NONE", alert: mode == "HALF"}'>

    <div class='top-bar poppings'> 

        <div class='logo-panel'>

            <label class='logo-label poppings green-text'>Otoboto</label>

        </div>

    </div>

    <div class='caption-panel assistant caption-text dark-gray-text'>

        {{message?.caption}}
        
    </div>

   <!--div class='avatar-panel'>
        <bot-avatar></bot-avatar>
   </div-->

   <!--div class='caption-panel assistant'>
       {{message?.caption}}
   </div-->

    <div *ngIf='message?.attachment?.type=="login"' class='single-button-panel'>
        <facebook-login-button (click)='loginWithFB()'></facebook-login-button>       
    </div>    

    <div *ngIf='message?.options' class='buttons-panel'>
        <button *ngFor='let option of message?.options' class='round-button green-white-button option-button assistant' (click)='selectOption(option)' assistant>
            {{option.title}}
        </button>            
    </div>

    <div *ngIf='message?.input && message?.input !== "NONE"' class='input-panel'>
        <chatbot-input (send)='sendUserInput($event)'></chatbot-input>
    </div>    

</div>

<!--div class='messages-board'>

    <div *ngFor='let message of messages' class='message-wrapper'> 
        <chatbot-message [message]='message' [input]='message.input' (facebookLogin)='loginWithFB()' (optionSelected)='selectOption($event)' (userInput)='sendUserInput($event)'></chatbot-message>
    </div>

    <div *ngIf='isTyping'> 
        <div class="typing-indicator">
        <span></span>
        <span></span>
        <span></span>
        </div>        
    </div>    

</div-->

<!--div class='wrapper'>


    
</div-->